+++
title = "LivingTogether"
linkTitle = "LivingTogether"

+++

{{< blocks/cover title="LivingTogether: A Marie Skłodowska-Curie Global Fellowship" image_anchor="bottom" height="full" color="" >}}
<div class="mx-auto">
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/blog" >}}">
		Blog <i class="fas fa-solid fa-blog ml-2"></i>
	</a>
	<a class="btn btn-lg btn-secondary mr-3 mb-4" href="https://book.livingtogether.xyz">
		Book <i class="fas fa-solid fa-book ml-2"></i>
	</a>
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="https://www.livingtogether.xyz/ko">
		한국어 <i class="fas fa-solid fa-language"></i>
	</a>
	<p class="lead mt-5">Project title: Hansalim as a model for solidarity pathways towards sustainable food systems.</p>
	{{< blocks/link-down color="info" >}}
</div>
{{< /blocks/cover >}}


{{% blocks/lead color="light" %}}
This 3 year research project is a [Marie Skłodowska-Curie Action](https://ec.europa.eu/research/mariecurieactions/) - Global Fellowship led by Dr Jonathan Dolley and supervised by the University of Sussex and the Mosim and Salim Research Institute, Hansalim (South Korea).

Through this project I am investigating the story of the Korean cooperative, Hansalim, which grew from a small rice market on the outskirts of Seoul in 1986 to become one of the worlds largest organic food cooperatives with 750,000 members and producers. I want to find out what lessons their experience holds for other cooperative groups and movements in the UK and EU as we strive to transform our food systems away from industrialized models towards a fairer and more sustainable future.

{{% /blocks/lead %}}

{{< blocks/section color="dark">}}

{{% blocks/socialfeature icon="fab fa-instagram" title="Follow on Instagram" url="https://instagram.com/livingtogether_msca" linktext="livingtogether_msca" %}}
{{< instagram2 username="livingtogether_msca" >}}
{{% /blocks/socialfeature %}}

{{% blocks/socialfeature icon="fab fa-github" title="Online book" url="https://github.com/JonathanDolley/LivingTogether-book" linktext="github.com/JonathanDolley/LivingTogether-book" %}}
The main output from the research is an online open access book that I plan to publish as it is being written, “in real time”, at [book.livingtogether.xyz](https://book.livingtogether.xyz/)

It is already a collaborative project with co-authors at the Mosim and Salim Research Institute and I hope that this collaboration can extend to its readers as well.

There are a couple of ways this participation could happen: 1) discussions on social media ([instagram](https://instagram.com/livingtogether_msca), [twitter](https://twitter.com/LT_MSCA_Project)); 2) suggested edits via [GitHub](https://github.com/JonathanDolley/LivingTogether-book).

So we welcome any input from interested readers who share a passion for the topic of organic and regenerative farming and the cooperative and solidarity economy.
{{% /blocks/socialfeature %}}


{{% blocks/socialfeature icon="fab fa-twitter" title="Connect on Twitter" url="https://twitter.com/LT_MSCA_Project" linktext="LT_MSCA_Project" %}}
Connect with me on twitter and start a conversation about the project and the book.

<a href="https://twitter.com/LT_MSCA_Project?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-count="false">Follow @LT_MSCA_Project</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

Or tweet to me to introduce yourself.

<a href="https://twitter.com/intent/tweet?screen_name=JonathanDolley&ref_src=twsrc%5Etfw" class="twitter-mention-button" data-show-count="false">Tweet to @JonathanDolley</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>


{{% /blocks/socialfeature %}}

{{< /blocks/section >}}

<div class="container">
	<div class="row align-items-center">
	  <div class="col-sm">
		{{< imgproc sussex Fit "300x350" >}}
		{{< /imgproc >}}
	  </div>
	  <div class="col-sm">
		<h3><a href="https://sussex.ac.uk/spru">Science Policy Research Unit (SPRU)</a></h3>
		University of Sussex Business School, UK
	  </div>
	</div>
  </div>

  <div class="container">
	<div class="row align-items-center">
	  <div class="col-sm">
		{{< imgproc mosim Fit "300x350" >}}
		{{< /imgproc >}}
	  </div>
	  <div class="col-sm">
		<h3><a href="http://mosim.or.kr/">Mosim and Salim Research Institute</a></h3>
		Seoul, South Korea
	  </div>
	</div>
  </div>

<div class="container">
	<div class="row align-items-center">
	  <div class="col-sm">
		{{< imgproc eu Fit "300x350" >}}
		{{< /imgproc >}}
	  </div>
	  <div class="col-sm">
		This project has received funding from the European Union's Horizon 2020 research and innovation programme under the Marie Skłodowska-Curie grant agreement No 892403.
	  </div>
	</div>
  </div>
